<div class="cover-chat-show">
    <div class="container d-flex flex-column align-items-center">
        <div class="row mt-5">
            <h1 class="font-weight-normal"><%= @user.name %>さんとのトークルーム</h1>
        </div>
        <div class="message">
            <% @chats.each do |chat| %>
                <div class="mb-3">
                    <% if chat.user_id == current_user.id %>
                        <%= render 'chat', chat: chat %>
                    <% else %>
                        <div class="left-container d-flex align-items-start">
                            <p class="ml-2" style="text-align: left;">
                                <span style="background-color: #fce4ec; padding: 8px 12px; border-radius: 10px; display: inline-block;">
                                    <%= chat.message %>
                                </span>
                            </p>
                        </div>
                    <% end %>
                </div>
            <% end %>
        </div>
        <%= form_with model: @chat, data: {remote: true} do |f| %>
            <%= f.text_field :message %>
            <%= f.submit "送信する", class: "btn btn-light btn-outline-dark btn-sm" %>
            <%= f.hidden_field :room_id %>
        <% end %>
    </div>
</div>